.button {

 
 font-size: 1.4em;/*文字サイズ*/ 
 font-weight: bold;/*文字のスタイル*/ 
 padding: 5px 10px;/*ボタンのサイズ*/ 
 
 margin-left　:100px;/*マージ設定*/ 
 margin-right:100px;/*マージ設定*/ 


	position: relative;
	background-color: #d2d2d2;
	border-radius: 20px;/*角丸サイズ*/ 
	color: #fff;/*テキストカラー*/ 

	line-height: 50px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 5px 0 #bfbfbf;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	outline: 0;/*最後のフォーカスのを消す*/ 

}
.button:hover {
	top: -4px;
	box-shadow: 0 7px 0 #bfbfbf;
}
.button:active {
	top: 3px;
	box-shadow: none;
}

.button_wrapper{/*センタリング*/ 
   text-align:center;
   
}


/*画像と画像を重ねる処理*/ 
/*ルーレット1*/ 
.zabu1 {
	
    position: relative;
    right: -180px;
    float:left;
}
.kazu1{/*数字の位置をザブに合わせた*/ 
    position: relative;
   right: 140px;
     top: -10px;
}




/*画像と画像を重ねる処理*/ 

.zabu2 {

    position: relative;
     right: -90px;
     float:left;/*画像を回り込ませる*/ 
     

}
.kazu2 {/*数字の位置をザブに合わせた*/ 
    position: relative;
    right: 140px;
     top: -10px;
}



/*画像と画像を重ねる処理*/ 

.zabu3 {

    position: relative;
     right: -0px;

}
.kazu3 {/*数字の位置をザブに合わせた*/ 
    position: relative;
    right: 140px;
     top: -10px;
}
