body {background-color: White}/* 全体の背景色 */


body {
  background-image: url("img/BG1.png"); /* 全体の背景画像 */
  background-position: right top; /* 右上に背景を固定 */
  background-repeat: no-repeat;
  background-attachment: fixed; 

  }
p.sample1 {word-spacing: 1em}
p.example2 { letter-spacing: 5em; }


.hr_mizuiro {
  display: block;
  border: 0;
  width: 100%;
  height: 3px;
  background: url("img/hr_mizuiro.png") no-repeat top center;
  -webkit-background-size: 1000px 3px;
  background-position-x: right; 
